.container {
    width: 100%;
    height: 100%;
    background-color: #ff000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.welcome {
    font-size: 40fp;
}

.message {
    font-size: 35fp;
    margin-top: 5%;
}