.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e06700;
    width: 100%;
    height: 100%;
}

.error-message {
    align-items: center;
    text-align: center;
    font-size: 28fp;
}